<div class="table">
    <table  mat-table [dataSource]="compras" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Título </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <ng-container matColumnDef="category">
            <th class="column-name" lass="column-name" mat-header-cell *matHeaderCellDef> Categoria </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
    
        <ng-container matColumnDef="purchaseDate">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Data compra </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.purchaseDate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="paymentDate">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Data Pagamento </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.paymentDate}} </td>
        </ng-container>
        
        <ng-container matColumnDef="value">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Valor </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> R${{element.value}} </td>
        </ng-container>

        <ng-container matColumnDef="payers">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagadores </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.payers}} </td>
        </ng-container>

        <ng-container matColumnDef="unitValue">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Valor unitário </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> R${{element.unitValue}} </td>
        </ng-container>

        <ng-container matColumnDef="buyer">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Comprador </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.buyer}} </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagamento </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> <button (click)="pagamento()" class="payment-button"> Pagar </button>{{element.payment}} </td>
        </ng-container>
        
        <ng-container matColumnDef="remainingPayers">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagadores restantes </th>
            <td class="column-cell" mat-cell *matCellDef="let element"> {{element.remainingPayers}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>