<div class="card-body">
    <mat-card-title class="titulo-menu-despesas">Despesas</mat-card-title>
    <button mat-button class="cadastrar-despesa" (click)="abrirFormDespesa()">
        <mat-icon>add_circle</mat-icon>Nova despesa
    </button>
</div>

<div class="table">
    <table mat-table [dataSource]="despesas">
        <ng-container matColumnDef="title">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Título </th>
            <td [ngClass]="{
                'payed-style': verificarPagamento(),
                'payed-style-last-left': isLastDespesa()
            }" mat-cell *matCellDef="let element">
            </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th class="column-name" lass="column-name" mat-header-cell *matHeaderCellDef> Categoria </th>
            <td [ngClass]="{'payed-style': verificarPagamento()}" mat-cell *matCellDef="let element">
                </td>
        </ng-container>
    </table>
</div>