<div class="card-body">
    <mat-card-title class="titulo-menu-despesas">Despesas</mat-card-title>
    <button mat-button class="importar-ofx" (click)="ofxInput.click()" [disabled]="loadingAcao()">
        <mat-icon>upload_file</mat-icon>Importar OFX
    </button>
    <input #ofxInput type="file" accept=".ofx" hidden (change)="importarOfx($event)">
    <button mat-button class="cadastrar-despesa" (click)="abrirFormDespesa()">
        <mat-icon>add_circle</mat-icon>Nova despesa
    </button>
</div>

<div class="loading-overlay" *ngIf="loadingLista()">
  <mat-spinner></mat-spinner>
</div>

<div class="table" *ngIf="despesas$ | async as despesas">
    <table mat-table [dataSource]="despesas">
        <ng-container matColumnDef="title">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Titulo </th>
            <td [ngClass]="{
                'payed-style': verificarPagamento(element),
                'payed-style-last-left': isLastDespesa(element, despesas)
            }" mat-cell *matCellDef="let element">
                {{element.title}}
            </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Categoria </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{ element.category | categoria }}
            </td>
        </ng-container>

        <ng-container matColumnDef="paymentDate">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Data Pagamento </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{element.paymentDate | date: "dd/MM/yyyy"}}
            </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Valor </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{ element.value | currency:'BRL':'symbol':'1.2-2' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="payers">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagadores </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{ element.payers | pagadores }}
            </td>
        </ng-container>

        <ng-container matColumnDef="unitValue">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Valor unitário </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{ element.unitValue | currency:'BRL':'symbol':'1.2-2' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="responsibleName">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Responsável </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                {{element.responsibleName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="payment">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagamento </th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                <button [ngClass]="{'payed-button': element.isPaid}" (click)="efetuarPagamento(element)"
                    *ngIf="element.showPaymentButton ; else indisponivel" class="payment-button">
                    {{ element.isPaid ? 'Pago' : 'Pagar' }}
                </button>
            </td>
            <ng-template #indisponivel><span>Indisponivel</span></ng-template>
        </ng-container>

        <ng-container matColumnDef="remainingPayers">
            <th class="column-name" mat-header-cell *matHeaderCellDef> Pagadores restantes </th>
            <td [ngClass]="{
                'payed-style': verificarPagamento(element),
                'payed-style-last-right': isLastDespesa(element, despesas)
            }" mat-cell *matCellDef="let element">
                {{ element.remainingPayers | pagadores:'Todos efetuaram o pagamento.' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th class="column-name" mat-header-cell *matHeaderCellDef></th>
            <td [ngClass]="{'payed-style': verificarPagamento(element)}" mat-cell *matCellDef="let element">
                <button class="remove-buttom" (click)="deleteDespesa(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
