@use '@angular/material' as mat;
@use '../../../core/theme-colors.scss' as my-theme;

.password-input {
  @include mat.theme((
  color: (
    primary: my-theme.$primary-palette,
    tertiary: my-theme.$tertiary-palette,
  ),
  typography: Roboto,
  density: 0,
));
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.password-input {
  display: grid;
  justify-content: center;
  min-width: 300px;
}

mat-form-field {
  margin-top: -10px;
  min-width: 350px;
}

mat-icon {
  margin-left: -7px;
}