@use '@angular/material' as mat;
@use '../../core/theme-colors.scss' as my-theme;
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.body {
    background-image: url('/assets/background.png');
    background-size: cover; /* Faz a imagem cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Garante que a imagem não se repita */
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-card {
    display: flex;
    justify-items: center;
    gap: 400px;
}

.body-card-login {
    width: 550px;
    min-height: 630px;
    background-color: white;
    box-shadow: 5px 5px 10px rgb(170, 170, 170);
    display: flex;
    align-items: center;
    border-radius: 25px;
    border: none;
    margin-left: -100px;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    min-width: 500px;
}

.slogan {
    margin-top: 60px;
}

#welcome {
    font-family: "Inter", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 33px;
    color: #9F9D9D;
    word-wrap: normal;
}

#splithome {
    font-family: "Tilt Warp", serif;
    font-weight: 500;
    font-size: 33px;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    color: #48A75A;
}

#aqui {
    color: #48A75A;
    text-decoration: none;
}

#subtitle {
    font-family: "Zain", serif;
    font-weight: normal;
    font-style: 100;
    text-align: center;
    font-size: 23px;
    color: #9F9D9D;
    margin-top: 15px;
}

.input-email,
.password-input {
    min-width: 350px;
    margin-top: 10px;
}

.input-email {
    margin-top: 30px;
}

.input-email,
.password-input {
    @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
  ));
}

#register-button {
    font-family: "Itim", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: #48A75A;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    min-width: 250px;
    min-height: 35px;
}