.form-cartao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
  min-width: 360px;
  padding-top: 8px;

  mat-form-field {
    width: 100%;
  }

  mat-form-field:first-of-type {
    grid-column: 1 / -1;
  }
}
