<h2 class="title">Cadastro de despesa</h2>
<mat-dialog-content class="form-body">
  <div>
    <form [formGroup]="formDespesa" (ngSubmit)="cadastrarDespesa()">
      <div class="title-input">
        <mat-form-field class="input-name" appearance="outline">
          <mat-label>Insira o título</mat-label>
          <input matInput formControlName="titulo">
        </mat-form-field>
      </div>

      <div class="categoria-input">
        <mat-form-field appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria">
              {{ categoria }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="valor-input">
        <mat-form-field floatLabel="always" appearance="outline">
          <mat-label>Valor</mat-label>
          <input matInput formControlName="valor" placeholder="0" />
          <span matTextPrefix>R$&nbsp;</span>
        </mat-form-field>
      </div>

      <div class="date-input">
        <mat-form-field appearance="outline">
          <mat-label>Data da despesa</mat-label>
          <input matInput formControlName="dataDespesa" [matDatepicker]="dp3">
          <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="cancel-button" mat-dialog-close>Cancelar</button>
  <button mat-button class="confirm-button" [mat-dialog-close]="true" cdkFocusInitial
    (click)="cadastrarDespesa()">Cadastrar</button>
</mat-dialog-actions>
