<div class="body">
    <mat-card class="menu-lateral" appearance="outlined">
        <mat-card-header class="header-menu-lateral">
            <div class="title">
                <div class="splithome">
                    <img class="icon-title" src="../../../assets/icon.png" alt="">
                    <mat-card-title class="titulo-menu-lateral">SplitHome</mat-card-title>
                </div>
                <img class="profile-photo" src="../../../assets/perfil.png" alt="">
                <mat-card-subtitle class="subtitulo-menu"> Bem vindo <div class="username">{{ user.name }}</div></mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content class="conteudo-card">
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao">view_list</mat-icon>Inicío</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao"
                        matSuffix>shopping_cart</mat-icon>Compras</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>payments</mat-icon>Despesas
                </button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao"
                        matSuffix>forum</mat-icon>Recados</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>perm_identity</mat-icon>Meu
                    perfil</button>
            </div>
            <div>
                <button (click)="openDialog('200ms', '200ms')" class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>logout</mat-icon>Sair</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="tabela-compras" appearance="outlined">
        <mat-card-content><tabela-compras></tabela-compras></mat-card-content>
    </mat-card>

</div>
