<div class="body">
    <mat-card class="menu-lateral" appearance="outlined">
        <mat-card-header class="header-menu-lateral">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="titulo-menu-lateral">SplitHome</mat-card-title>
            <mat-card-subtitle class="subtitulo-menu">Bem vindo {{"user"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="conteudo-card">
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao">view_list</mat-icon>Inicío</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao"
                        matSuffix>shopping_cart</mat-icon>Compras</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>payments</mat-icon>Despesas
                </button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao"
                        matSuffix>forum</mat-icon>Mensagens</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>perm_identity</mat-icon>Meu
                    perfil</button>
            </div>
            <div>
                <button class="botoes-menu-lateral"><mat-icon class="icones-botao" matSuffix>logout</mat-icon>Sair</button>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="tabela-compras" appearance="outlined">
        <mat-card-title class="titulo-menu-compras">Compras</mat-card-title>
        <mat-card-content><tabela-compras></tabela-compras></mat-card-content>
    </mat-card>
</div>
